body {
    font-family: 'Arial', sans-serif;
    background-color: #181831;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    color: aliceblue;
    position: absolute;
    left: 880px;
    top: 180px;
}

p {
    color: antiquewhite;
}

label {
    margin-right:  0px;
    color: aliceblue;
}

input {
    padding: 5px;
    margin-right: 0px;
}

button {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: white;
    cursor: pointer;
    margin-left: 15px;
}





